.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* BoardGame.css */

.board-container {
  border: 1px solid black;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 10px; */
  padding-bottom: 10px;
  padding-top:10px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 1px;
}

.game-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  margin: auto;
  position: absolute;
  top:0 ; left:0; bottom: 0; right: 0;
}

.message-container{
  height: 80px;
}
/* .message{
  position: absolute;
  top:80px;
  width: 600px;
  height: 80px;
  padding: 20px 10px;
  text-align: center;
  margin: 0 auto;
  left: 0;
  right: 0;
  font-weight: bolder;
  font-size: 1.5rem;
} */

/* .congratsMessage{
  position: absolute;
  top:140px;
  width: 600px;
  height: 80px;
  padding: 20px 10px;
  text-align: center;
  margin: 0 auto;
  left: 0;
  right: 0;
  font-weight: bolder;
  font-size: 1.5rem;
} */
.message{
  width: 100%;
  height: 80px;
  padding: 20px 10px;
  text-align: center;
  margin: 0 auto;
  font-weight: bolder;
  font-size: 1.5rem;
  color: #c3b26a;
}

.congratsMessage{
  width: 100%;
  height: 80px;
  padding: 20px 10px;
  text-align: center;
  margin: 0 auto;
  font-weight: bolder;
  font-size: 1.5rem;
  color: #3d7537;
}

.header {
  padding-top: 20px;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
}

button {
  background-color: #3e7963;
  border: none;
  color: white;
  padding: 3px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

button:hover {
  background-color: #58ae8e;
}

.new-game-button{
  margin-top: 20px;
}

/* Media query for small screens */
@media screen and (max-width: 700px) {
  .game-container {
    flex-direction: column; /* Stack items vertically */
  }

  form{
    margin-bottom: 20px;
  }

  /* Adjust margin between items */
  .board-container {
    margin-bottom: 20px;
  }

  .message{
    width: 100%;
    height: 5%;
    padding: 12px 9px;
    text-align: center;
    margin: 0 auto;
    font-weight: bolder;
    font-size: 1rem;
    margin-top:-5px
  }
  
  .congratsMessage{
    width: 100%;
    height: 10%;
    padding: 10px 10px;
    text-align: center;
    margin: 0 auto;
    font-weight: bolder;
    font-size: 1rem;
    justify-content: center;
    padding-top: 30px;
  }

}
